:root {
    --azul: #628395;
    --verde-apagado: #8BBC9C;
    --menta:#7FEFBD;
    --amarillo: #DBAD6A;
    --arena: #CF995F;
    --rojo: #580C1F;
}

 #logo{
    display: flex;
    width: 100px;
    height: auto;

}

header{
    display: flex;
    background-color: var(--verde-apagado);
}

 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px;

}

.header-info{
    display: flex;   
    list-style: none;


}

.header-info li a{
    display: flex;
    padding: 10px;
    color: var(--rojo);
    font-size: 20px;
    text-decoration: none;
}



body{
    background-color: var(--azul);
    margin: 0;
}


@media (max-width: 768px) {
    .header-info li a{
        font-size: 80%;
        white-space: nowrap;
    }   
    
     #logo{
        width: 50%;
        height: auto;
    }
}


/*.menu{
    position: fixed;
    right: -100%;
    transition: 0.5s;
    background-color: var(--amarillo);
}

#menu-movil:checked ~ .menu{
    right: 0;
}

#menu-movil:checked ~ .menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.boton-menu{
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--rojo);
    margin: 5px;
}
