:root {
    --azul: #628395;
    --verde-apagado: #8BBC9C;
    --menta:#7FEFBD;
    --amarillo: #DBAD6A;
    --arena: #CF995F;
    --rojo: #580C1F;
}

 #logo{
    width: 64px;
    height: auto;
    padding: 10%;
}

header{
    display: flex;
    background-color: var(--verde-apagado);
}

 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px;

}

.header-info{
    display: flex;   
    list-style: none;


}

.header-info li a{
    display: flex;
    padding: 10px;
    color: var(--rojo);
    font-size: 20px;
    text-decoration: none;
}



body{
    background-color: var(--azul);
    margin: 0;
    text-align: center;
}


@media (max-width: 768px) {
    .header-info li a{
        font-size: 80%;
        white-space: nowrap;
    }   
    
     #logo{
        width: 50%;
        min-width: 24px;
        height: auto;
    }
}

 .hero, h1, h3{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: var(--rojo);
    text-align: center;
    align-items: center;
}

p ,a, .tagline{
    font-family: 'Poppins', sans-serif;
    font-size: 400;
}

.container{
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
}

.btn-primary{
    display: inline-block;
    background-color: var(--arena);
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
}

.btn-primary:hover{
    background-color: var(--amarillo);
}

.features{
    display:grid;
    gap: 24px;
    margin-top: 40px;
}

.feature-card{
    background-color: var(--verde-apagado);
    padding: 24px;
    border-radius: 12px;
    border-left: 5px solid var(--menta);
}

feature-card h3{
    margin-top: 0;
}

.game-preview{
    display: flex;
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    justify-content: center;
    margin: 0 auto;
}







/*.menu{
    position: fixed;
    right: -100%;
    transition: 0.5s;
    background-color: var(--amarillo);
}

#menu-movil:checked ~ .menu{
    right: 0;
}

#menu-movil:checked ~ .menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.boton-menu{
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--rojo);
    margin: 5px;
}
